body { 
    font-family: Arial, sans-serif; 
    background-image: url(down3.jpg); 
    background-repeat: no-repeat; 
    background-size: 1600px 900px; 
    } 
    #password-form { 
    width: 50%; 
    margin: 40px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    } 
    label { 
    display: block; 
    margin-bottom: 10px; 
    } 
    input[type="password"] { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    } 
    input[type="text"] { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    } 
    button[type="submit"] { 
    background-color: #4CAF50; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    } 
    button[type="submit"]:hover { 
    background-color: #a50707; 
    } 
    #error-message { 
    color: red; 
    }